details.accordion-item:not([open]) .accordion-button {
    background-color: var(--bs-accordion-bg);
}
details.accordion-item[open] .accordion-button {
    background-color: var(--bs-accordion-bg);
}

details.accordion-item:not([open]):last-of-type .accordion-button {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
}

details.accordion-item:not([open]) .accordion-button::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: unset;
}

details.accordion-item[open] .accordion-button::after {
    background-image: var(--bs-accordion-btn-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

/* Hide the default disclosure triangle on Safari */
summary.accordion-button::-webkit-details-marker {
    display: none;
}

/* details.accordion-item[open] summary {
    border-bottom: 1px solid red !important;
} */
details.accordion-item[open] .modul-learning {
    border-top: 1px solid red !important;
}

.carousel-indicators [data-bs-target] {
    background-color: #979797;
}

/* Mengubah warna pagination yang sedang aktif (active) */
.carousel-indicators .active {
    background-color: #d61b23;
}

.section {
    font-size: 12px !important;
}

.kamus {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/* CSS */
.slider-container {
    width: 340px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d32f2f; /* Merah */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 0;
    position: absolute;
    left: 10px;
    cursor: pointer;
    transition: left 0.3s;
}

.help-text {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    margin-left: 70px;
}

/* From Uiverse.io by alexroumi */
#faskes {
 padding: 15px 15px;
 border: unset;
 border-radius: 6px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

#faskes::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 6px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

#faskes:hover {
 color: #e8e8e8;
}

#faskes:hover::before {
 width: 100%;
}
